<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ashwinkumar.drivetowin" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".initial_screen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".aaa_user_login"
            android:label="@string/title_activity_aaa_user_login" >
        </activity>
        <activity
            android:name=".user_registration"
            android:label="@string/title_activity_user_registration" >
        </activity>
        <activity
            android:name=".user_registration_2"
            android:label="@string/title_activity_user_registration_2" >
        </activity>
        <activity
            android:name=".user_registration_3"
            android:label="@string/title_activity_user_registration_3" >
        </activity>
        <activity
            android:name=".main_menu"
            android:label="@string/title_activity_main_menu" >
        </activity>
        <activity
            android:name=".List_emergency_Contacts"
            android:label="@string/title_activity_list_emergency_contacts" >
        </activity>
        <activity
            android:name=".add_emergency_contacts"
            android:label="@string/title_activity_add_emergency_contacts" >
        </activity>
        <activity
            android:name=".VehicleDiagonistic"
            android:label="@string/title_activity_vehicle_diagonistic" >
        </activity>
        <activity
            android:name=".road_assistance"
            android:label="@string/title_activity_road_assistance" >
        </activity>
    </application>

</manifest>
